* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

input {
    font-size: 1rem;
}

input[type="file"] {
    padding: 6px;
    max-width: 100%;
    display: inline;
}

.submit-btn {
    margin-top: 15px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    }
}

.upload-header {
    border-bottom: 1px solid #ececec;
}

.single-upload {
    height:0px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom-width: 0px;

}

.upload-response {
    overflow-x: hidden;
    word-break: break-all;
    padding-top: 14;
    padding-left: 10px;

}


#singleFileUploadSuccess{
margin-top: 14px;
}