<head xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
          crossorigin="anonymous">
    <!-- Mobile First, prevent zooming -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <!-- MyStyle -->
    <link rel="stylesheet"
          type="text/css"
          href="../static/css/styles.css"
          th:href="@{css/styles.css}">
    <!-- Minimap -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="../static/css/minimap.css"
          th:href="@{css/minimap.css}">
    <!-- Upload file -->
    <link rel="stylesheet"
          href="/css/upload_file.css" />

</head>